<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/front.css') }}">
</head>
<body>

<nav class="front-nav">
    <div class="nav-left">
        <a href="{{ path('front_index') }}">Artículos en venta</a>
    </div>

    <div class="brand">
        Galería Segunda Mano
    </div>

    <div class="nav-right">
        {% if app.user %}
            <span>{{ app.user.email }}</span>
            <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ path('app_login') }}">Iniciar sesión</a>
            <a href="{{ path('app_registro') }}">Registrarse</a>
        {% endif %}
    </div>
</nav>

<div class="{% block page_class %}page-default{% endblock %}">
    {% block body %}{% endblock %}
</div>


</body>
</html>
