<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/front.css') }}">
</head>
<body>

<nav class="front-nav">
    <div class="nav-left">
        <a href="{{ path('front_index') }}">Artículos en venta</a>
    </div>

    <div class="brand">
        Galería Segunda Mano
    </div>

    <div class="nav-right">
        {% if app.user %}
            <span class="nav-user">
                {{ app.user.nombreUsuario }}
            </span>

            <a href="{{ path('app_perfil') }}">Mi perfil</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}">Panel admin</a>
                <a href="{{ path('admin_usuario_index') }}">Usuarios</a>
            {% endif %}

            <a href="{{ path('app_articulo_index') }}">Mis artículos</a>

            <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ path('app_login') }}">Iniciar sesión</a>
            <a href="{{ path('app_registro') }}">Registrarse</a>
        {% endif %}
    </div>
</nav>


<div class="{% block page_class %}page-default{% endblock %}">
    {% block body %}{% endblock %}
</div>


</body>
</html>
