{% extends 'base.html.twig' %}

{% block title %}Mi perfil{% endblock %}

{% block body %}
    <h1>Mi perfil</h1>

    <section>
        <h2>Datos del usuario</h2>
        <p>Email: {{ usuario.email }}</p>
        <p>Usuario: {{ usuario.nombreUsuario }}</p>
        <img src="{{ asset(usuario.avatar ? 'uploads/avatars/' ~ usuario.avatar
                    : 'images/imagenPorDefecto.png') }}"
            alt="Avatar"
            width="100"
            height="100"
        >
    </section>

    <h2>Cambiar contraseña</h2>
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
        <button>Cambiar contraseña</button>
    {{ form_end(passwordForm) }}

    <hr>

    <h2>Cambiar avatar</h2>
    {{ form_start(avatarForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_widget(avatarForm) }}
        <button>Cambiar avatar</button>
    {{ form_end(avatarForm) }}
{% endblock %}